:host {
  display: flex;
  flex-direction: column; /* Ordena los elementos de forma vertical */
  align-items: center; /* Centra horizontalmente los gráficos */
  gap: 20px; /* Espaciado entre los gráficos */
  min-height: 70vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  justify-content: center; /* Centra los elementos verticalmente */
}
.estadisticas-container {
  width: 100%;
  max-width: 1200px; /* Ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  display: flex;
  flex-direction: column; /* Ordena los elementos de forma vertical */
}
.btn-descargar {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #45a049;
}

