<nav class="navbar">
  <!-- LOGO A LA IZQUIERDA -->
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <!-- ENLACES EN EL CENTRO -->
  <ul class="nav-links">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Home</a
      >
    </li>
    <li *ngIf="!isLoggedIn">
      <a
        routerLink="/ingresar"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Ingresar</a
      >
    </li>
    <li *ngIf="!isLoggedIn">
      <a
        routerLink="/registro"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Registrarse</a
      >
    </li>
    <li *ngIf="isLoggedIn">
      <a
        routerLink="/mi-perfil"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Mi Perfil</a
      >
    </li>
    <li
      *ngIf="
        (isLoggedIn && tipoUsuario === 'paciente') ||
        tipoUsuario === 'especialista'
      "
    >
      <a
        routerLink="/mis-turnos"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Mis Turnos</a
      >
    </li>
    <li
      *ngIf="
        (isLoggedIn && tipoUsuario === 'paciente') ||
        tipoUsuario === 'administrador'
      "
    >
      <a
        routerLink="/solicitar-turno"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Solicitar Turno</a
      >
    </li>
    <li *ngIf="isLoggedIn && tipoUsuario === 'administrador'">
      <a
        routerLink="/usuarios"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Usuarios</a
      >
    </li>
    <li *ngIf="isLoggedIn && tipoUsuario === 'administrador'">
      <a
        routerLink="/turnos"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Gestionar Turnos</a
      >
    </li>
    <li *ngIf="isLoggedIn && tipoUsuario === 'administrador'">
      <a
        routerLink="/estadisticas"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Estadisticas</a
      >
    </li>
    <li *ngIf="isLoggedIn && tipoUsuario === 'especialista'">
      <a
        routerLink="/pacientes"
        routerLinkActive="active"
        appNavbarBotones
        [hoverBackgroundColor]="'#007bff'"
        [hoverTextColor]="'#ffffff'"
        >Pacientes</a
      >
    </li>
  </ul>

  <div class="logout-button" *ngIf="isLoggedIn">
    <span class="user-name">{{ fullName }}</span>
    <!-- 👈  nuevo -->
    <a
      (click)="logout()"
      appNavbarBotones
      [hoverBackgroundColor]="'#007bff'"
      [hoverTextColor]="'#ffffff'"
    >
      Cerrar Sesión
    </a>
  </div>
</nav>

<main>
  <div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

</main>
